html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background: black;
    font-family: Lato, Arial, sans-serif;
    font-size: 24px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #181818;
    /* text-shadow: 2px 2px 4px black; */
}

p {
    line-height: 1.5;
}

li,
ol {
    line-height: 1.5;
}

.container {
    min-width: 320px;
    max-width: 50vw;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    padding: 30px;
}

.header {
    padding-block: 20px;
}

.footer {
    padding-block: 20px;
}

.header__title {
    text-align: center;
    padding-block: 20px;
    font-size: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer {
    text-align: center;
}

.list__item {
    transition: all 0.3s ease;
    /* Добавляем плавный переход */
}

.list__item:hover {
    text-decoration: underline;
}

.form__link {
    color: black;
    text-decoration: underline;
}

.cloud {
    color: black;
    border-radius: 15px;
    padding: 25px 15px;
    border: 1px solid black;
    object-fit: fill;
    margin-right: auto;
    background-color: #fff;
}

.blue__skin {
    color: #0d4cd3;
    font-size: 20px;
}